In [1]:
import os # work with operating system to walk between directories and

import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Loading the dataset
train_dir = "./train"
test_dir = "./test"

#Check the files in each folder
train_size = len(os.listdir(train_dir))
test_size = len(os.listdir(test_dir))

train_size,test_size

(10222, 10357)

In [3]:
#Loadind the labels
df = pd.read_csv("./labels.csv")
df.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever